﻿/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

body {
    margin: 0;/*убрать оступы в шапке относительно всей страницы*/
    font-family: 'Open Sans', sans-serif;/*применение стиля текста*/
    }

.header {
    height: 89px;/*Высота шапки*/
    width: 100%;/*Ширина шапки, в данном случае она будет на всю ширину на всех устройствах*/
    /*background: lightblue; -- вспомогательный цвет*/ 
    padding: 0 164px;/*Отступы содержимого от краев, в данном случае верх/низ: 0px, лево/право: 164px*/
    -webkit-box-sizing: border-box;
            box-sizing: border-box;/*убрать внешние отступы у padding*/
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;/*Позволяет двигать и выстраивать блочные элементы*/
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;/*раздвинуть по краям*/
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;/*распределить контент по высоте*/
    -webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .2);
            box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .2);/*тень от шапки*/
    background-color: rgba(255, 255, 255, .9);/*задаем прозрачность*/
    position: fixed;/*если нужен скролл шапки, если не нужен то absolute*/
    left: 0;
    top: 0;
    }

/*.links {
    float: right; --можно подвинуть div вправо, но "ломается" адаптив
    
    лучше работает, чем float
    display: block;
    display: inline;/*присвоить блочному типу строчные свойства
    margin-left: 100px;

    display: inline-block;*/
    
    /*лучший вариант
    display: flex;/*открывает возможности выстраивать блочные элементы
    flex-direction: row;/*двигать в ряд
    justify-content: ;
}*/

.link {/*обращение к классу*/
    text-decoration: none;/*убрать подчеркивание у ссылок*/
    text-transform: capitalize;/*изменить все слова на заглавные в классе*/
    font-size: 17px;/*размер шрифта*/
    color: #7f7878;/*установка цвета*/
    margin-right: 38px;/*отступы в тегах А, класс links*/
}

/*.link:last-child{
    margin-right: 0;
}
присвоить значение последнему элементу в классе*/

.login {
    border: none;
    outline: none;/*убрать обводку*/
    cursor: pointer;/*изменять курсор при наведении*/
    width: 87px;
    height: 27px;
    background: #de6d6e;
    border-radius: 3px;
    font-size: 17px;
    color: white;
    text-transform: capitalize;
    margin-left: 4px;/*добавить отступы по макету*/
}

.banner {
    width: 100%;
    height: 588px;
    background-image: url('../images/banner.jpg');/*установить фоном картинку*/
    background-repeat: no-repeat;/*убрать повторение картинки*/
    /*background-size: contain; растянуть картинку одной оси*/
    background-size: cover;/*растянуть картинку по размеру блока*/
    background-position: center;
    background-position-y: -60px;
    color: white;/*добвавить цвет текста, т.к. он находится в div*/
    padding-bottom: 85px;/*отступ текста от низа баннера*/
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;/*расположить текст друг под другом*/
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;/*выровнять по центру*/
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;/*задвинуть в конец*/
}

.title {
    text-transform: uppercase;
    font-size: 69px;
    font-weight: 800;
}

.title_small {
    font-size: 25px;
}

.info {
    width: 100%;
    height: 469px;
    -webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, .3);
            box-shadow: 0 0 3px 0 rgba(0, 0, 0, .3);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 66px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.info_title {
    color: #404040;
    font-size: 35px;
    margin-bottom: 30px;
}

.menu {
    width: 50px;
    height: 50px;
    border: 3px solid#404040;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 10px;
    cursor: pointer;
    display: none;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
}

.line {
    width: 35px;
    height: 3px;
    background-color: #404040;
    position: relative;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
}

.line::after {
    content: '';
    width: 35px;
    height: 3px;
    background-color: #404040;
    position: absolute;
    left: 0;
    top: 8px;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
}

.line::before {
    content: '';
    width: 35px;
    height: 3px;
    background-color: #404040;
    position: absolute;
    left: 0;
    bottom: 8px;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
}

.info_text {
    width: 830px;
    text-align: center;
}

.circles {
    width: 100%;
    padding: 0 160px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 87px;
}

.card {
    border-radius: 50%;
    width: 179px;
    height: 179px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    color: white;
    flex-shrink: 0;/*не искажать элементы*/

}

.card > img {
    margin-bottom: 12px;
}

.blue {
    background: #4eb9f4;
}

.green {
    background: #6fc125;
}

.red {
    background: #ff5649;    
}

.orange {
    background: #e48f23;
}

.chb {
    display: none;
}

.chb:checked + .line {
    background-color: transparent;
}

.chb:checked + .line::after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: 0;
}

.chb:checked + .line::before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: 0;
}

.chb:checked ~ .dropdown {
    height: 200px;
}

.dropdown {/*работа с выпадающем меню*/
    position: absolute;
    width: 250px;
    height: 0;
    background-color: white;
    -webkit-box-shadow: 5px 5px 10px 0 black;
            box-shadow: 5px 5px 10px 0 black;
    left: 55px;
    top: 50px;
    -webkit-transition: .4s ease-in-out;
    -o-transition: .4s ease-in-out;
    transition: .4s ease-in-out;/*ускорение и замедление анимации*/
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-left: 30px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    overflow: hidden;/*все, что не влазит в блок - скрывается; для вертикального скрола: owerflow-y: auto; убрать горизантальный скролл: owerflow-x: hidden*/
}

.dropdown > .link {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.news {
    width: 100%;
    padding: 45px 129px;
    box-sizing: border-box;
    padding-bottom: 0;
    
}

.news-item {
    width: 100%;
    height: 135px;
    display: flex;
    /*justify-content: flex-start;
    align-items: center;*/
    margin-bottom: 79px;
    /*border: 1px solid red;*/
    padding-left: 65px;
    box-sizing: border-box;
}

.news-info {
    margin-left: 27px;
    padding-top: 10px;
    box-sizing: border-box;
}

.news-title {
    font-size: 27px;
    font-weight: 300;
    color: #404040;
    display: block;
    width: 285px;
    /*border: 1px solid red;*/
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    
}

.news-text {
    font-size: 15px;
    color: #8b8b88;
}

.footer {
    width: 100%;
    height: 258px;
    background: #232326;
    padding: 36px 129px 34px 129px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

.footer-title {
    color: #aeaeae;
    font-size: 21px;
}

.footer-list {
    list-style-type: none;/*убрать точки в списках*/
    padding-left: 0;
    margin-top: 10px;
    margin-bottom: 0;        
}

.footer-list > li {
    margin-bottom: 2px;
}

.footer-list > li > a {
    color: #aeaeae;
    font-size: 15px; 
    text-decoration: none;
    padding: 0;
}
.sub-menus {
    width: 644px;
    display: flex;
    justify-content:space-between;
    margin-left: 65px;
}

.social {
    color: #aeaeae;
    font-size: 15px;
    margin-top: 18px;
}

.social-btns > a {
    margin-right: 25px;
    text-decoration: none;
}

.social-btns > a:last-child {
    margin-right: 0;
}

.social-btns {
    margin-bottom: 30px;
}


/*-----------------------------------------*/

@media screen and (max-width: 1310px) {
    .footer {
        padding: 36px 20px 36px 20px;
    }

    .sub-menus {
        margin-left: 0;
    }
}


@media screen and (max-width: 1056px) {
    .header {
        padding: 0 10px;
    }

    .footer {
        flex-direction: column;
        height: auto;
        align-items: center;
    }
}

@media screen and (max-width: 980px) {/*Адаптив под разрешение менее 980px*/
    .header {
        padding: 0 20px;
    }
    .info_text {
        width: 100%;
    }
}

@media screen and (max-width: 710px) {/*Адаптив под экраны, у которых разрешение менее 710px*/
    .links {
        display: none;
    }

    .header {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
            -ms-flex-direction: row-reverse;
                flex-direction: row-reverse;
    }
    .menu {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    .title {
        font-size: 30px;
    }
    .title_small {
        font-size: 15px;
    }
    .circles {
        /*flex-direction: column;*/
        flex-wrap: wrap;
        align-items: center;
    }

    .card {
        margin: 10px 30px;
    }

    .info {
        height: auto;
    }

    .sub-menus {
        width: 100%;
    }
}

@media screen and (max-width: 500px) {
    .sub-menus {
        flex-wrap: wrap;
    }

    .social-btns >a {
        margin-right: 10px;
    }
}   
